<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Django Scraper</title>
  </head>
  <body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-1 h1"><h3>Django Web Scraper using Scrapy</h3></span>
  </div>
</nav>
<tr>
<div><br></div>
<form class="row g-3" method = "POST">
{% csrf_token %}
<div class="col-auto">
    <label class="mx-auto form-label"><h4>Tag:</h4></label>
  </div>
  <div class="col-auto">
    <label for="inputtag" class="visually-hidden" >Tag</label>
    <input type="text" class="form-control" id="inputtagname" name = "inputtagname" placeholder="Gaming/Technology">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Scrape</button>
  </div>
</form>
<br>
<div class="btn-group">
{% if msg %}
<label class="mx-auto form-label"><h4>{{msg}}</h4></label>
{% elif al%} 
<label class="mx-auto form-label"><h4>Related Tags:</h4></label>
{% endif %}
</div>
<div>
{% for ali in al%}
  <a class="m-1 btn btn-primary rounded" href="/tagger/?sts.bgtag={{ali}}" role="button">{{ali}}</a>
{% endfor %}
</div>
{% if noarts %}
<label class="mx-auto form-label"><h4>{{noarts}}</h4></label>
{% endif %}
{% if st %}
<table class="table table-light table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Time</th>
      <th scope="col">Date</th>
      {% comment %} <th scope="col">Date & Time</th> {% endcomment %}
      <th scope="col">URL</th>
      <th scope="col">Tags</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
  {% for sts in st %}
<tr>
    <th scope="row">{{sts.pgno}}</th>
    <td>{{sts.bgauthor}}</td>
    <td>{{sts.bgtitle}}</td>
    <td>{{sts.bgread}}</td>
    <td>{{sts.bgdt}}</td>
    
    <td><a href = "{{sts.bglink}}">{{sts.bglink}}</a></td>
    <td>
    {% if sts.bgtag1 %}
      <a class="btn-link" href="/tagger/?sts.bgtag={{sts.bgtag1}}">{{sts.bgtag1}}</a>
    {% endif %}
    {% if sts.bgtag2 %}
      <a class="btn-link" href="/tagger/?sts.bgtag={{sts.bgtag2}}">{{sts.bgtag2}}</a>
    {% endif %}
    {% if sts.bgtag3 %}
      <a class="btn-link" href="/tagger/?sts.bgtag={{sts.bgtag3}}">{{sts.bgtag3}}</a>
    {% endif %}
    {% if sts.bgtag4 %}
      <a class="btn-link" href="/tagger/?sts.bgtag={{sts.bgtag4}}">{{sts.bgtag4}}</a>
    {% endif %}
    {% if sts.bgtag5 %}
      <a class="btn-link" href="/tagger/?sts.bgtag={{sts.bgtag5}}">{{sts.bgtag5}}</a>
    {% endif %}
    </td>
    <td><a class="btn btn-primary" href="{{sts.bgpage}}" role="button" target = "_blank">View</a></td>
 </tr>
{% endfor %}
  </tbody>
</table>

<div class="d-grid gap-2 col-12 mx-auto text-right">
<form method = "POST">
{% csrf_token %}
  <button class="btn btn-primary mx-auto" type="submit" name ="next10" id= "next10"{% if not enable %}disabled{%endif%}>Scrape Next 10 Articles</button>
</form>
</div>
 {% endif %}

 {% if  pgs%}
 <div class="form-group">
      <span class="help-block">Avg Time to Scrape: {{pgs.scrapetime}}</span>
  </div>
 {% endif %}
 </body>
</html>
